* {
  margin: 0;
  padding: 0;
}

body {
  font-family: arial;
}

main {
  background-color: white;
  border: 1px solid black;
  border-radius: 20px;
  margin: 60px auto;
  overflow: hidden;
  width: 600px;
}

#tabs {
  border-bottom: 1px solid black;
  list-style: none;
}

.tab {
  background-color: gray;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-size: 20px;
  height: 30px;
  padding: 5px 25px;
  vertical-align: top;
  max-width: 250px;
}
.tab.active {
  background-color: black;
}
.container {
  margin-left: 10px;
  height: 500px;
}

.hidden {
  display: none !important;
}

.container h1,
.container h2,
.container h3,
.container h4,
.container h5,
.container h6 {
  margin-bottom: 20px;
  text-align: center;
}

input {
  width: 90%;
}

.CodeMirror-scroll {
  background-color: black;
  color: white;
  height: 200px !important;
  padding-left: 40px;
  overflow-y: scroll;
  width: 90%;
}

#create {
  background-color: green;
  border: 1px solid gray;
  color: white;
  border-radius: 40px;
  display: inline-block;
  font-weight: bold;
  padding: 15px 25px;
}
